@model TradeShop.Models.Giohang

@{
    ViewBag.Title = "Quản lý sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .required-label::after {
        content: "*";
        color: red;
        margin-left: 5px;
    }

    .field-note {
        display: block;
        color: red;
        font-size: 0.9em;
    }
</style>

<section class="list_info">
    <div class="col-lg-3">
        <ul class="list_action">
            <li><a href="@Url.Action("Information", "Home")">Thông tin cá nhân</a></li>
            <li><a href="@Url.Action("ListOrder", "Home")">Đơn Đặt Hàng</a></li>
            <li><a href="@Url.Action("ManagerProduct", "Home")" class="active">Quản lý sản phẩm</a></li>
            <li><a href="@Url.Action("ListBuy", "Home")">Đơn Mua</a></li>
        </ul>
    </div>

    <div class="col-lg-9">
        <div class="">
            <ul class="stardust-tabs-header">
                <li class="stardust-tabs-header_tab">
                    <a href="@Url.Action("ListPro", "Home")">Danh sách sản phẩm</a>
                </li>
                <li class="stardust-tabs-header_tab active">
                    <a href="@Url.Action("ManagerProduct", "Home")">Cập nhật sản phẩm</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="manager_pro">
                <div class="form-w3layouts">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="position-center">
                                        @using (Html.BeginForm("ManagerProduct", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.HiddenFor(model => model.iMasp)

                                            <div class="form-group">
                                                <label for="product_name" class="required-label">Tên sản phẩm</label>
                                                @Html.EditorFor(model => model.sTensp, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 5px; border: solid 2px #4c84ff;" } })
                                                @Html.ValidationMessageFor(model => model.sTensp, "", new { @class = "text-danger" })
                                           
                                            </div>

                                            <div class="form-group">
                                                <label for="product_price" class="required-label">Giá bán</label>
                                                @Html.EditorFor(model => model.dDongia, new { htmlAttributes = new { @min = 0, @class = "form-control", @style = "border-radius: 5px; border: solid 2px #4c84ff;" } })
                                                @Html.ValidationMessageFor(model => model.dDongia, "", new { @class = "text-danger" })
                                                <small class="field-note"> (đơn vị: VNĐ)</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="quantity" class="required-label">Số lượng</label>
                                                @Html.EditorFor(model => model.iSoluong, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 5px; border: solid 2px #4c84ff;" } })
                                                @Html.ValidationMessageFor(model => model.iSoluong, "", new { @class = "text-danger" })
                                                <small class="field-note">Số lượng mặc định bằng 0 tương đương với hết hàng!</small>
                                            </div>

                                            <div class="form-group">
                                                <label for="descrip" class="required-label">Mô tả</label>
                                                @Html.EditorFor(model => model.descrip, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 5px; border: solid 2px #4c84ff;" } })
                                                @Html.ValidationMessageFor(model => model.descrip, "", new { @class = "text-danger" }) 
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputFile" class="required-label">Cập nhật ảnh</label>
                                                <input type="file" name="imageUpload" />
                                                @if (ViewBag.ImageUploadError != null)
                                                {
                                                    <span class="text-danger">@ViewBag.ImageUploadError</span>
                                                }
                                            </div>

                                            <div class="form-group">
                                                <label for="id_cat" class="required-label">Tên danh mục</label>
                                                @Html.DropDownList("id_cat", ViewBag.id_cat as SelectList, new { @class = "form-control", @style = "width: 170px" })
                                                <small class="field-note">Vui lòng chọn danh mục sản phẩm</small>
                                            </div>

                                            <button type="submit" class="btn btn-info">Lưu sản phẩm</button>
                                        }
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
