@model TradeShop.Models.SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm";
}

<div class="col-md-12">
    <div class="product-detail" style="padding: 10px; min-height: 1080px; background: #fff;">
        <div class="panel panel-default panel-product-info">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-5 col-md-5 text-center" style="padding-right: 20px;">
                        <div class="product-one-image mb-2">
                            <img width="100%" src="~/Assets/Images/Products/@Model.product_image" alt="" id="product-image-one-view">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 details-pro">
                        <h3 class="title-product t-bold">
                            @Model.product_name

                            @if (Model.product_price == 0)
                            {
                                <text> - @Model.TaiKhoan.address</text>
                            }
                        </h3>
                        <div class="group-status">
                            <span class="first_status status_2">
                                Tình trạng:
                                <span class="status_name available hasvariant">
                                @if (Model.quantity > 0)
                                {
                                    <text>Còn hàng</text>
                                }
                                else 
                                {
                                    <text>Hết hàng</text>
                                }
                                </span>
                                <span class="line">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                            </span>
                            <span class="first_status status_2">
                                Ngày cập nhật:
                                <span class="status_name available hasvariant">@String.Format("{0: HH:mm - dd/MM/yyyy}", DateTimeOffset.FromUnixTimeSeconds(Model.time_add).LocalDateTime)</span>
                            </span>
                        </div>
                        <div class="price-box">
                            <span class="special-price">
                                <span class="price product-price">
                                    @if (Model.product_price > 0)
                                    {
                                        @String.Format("{0:0,0}", Model.product_price)<text>đ</text>
                                    }
                                    else
                                    {
                                        <text>Trao đổi</text>
                                    }
                                </span>
                            </span>
                        </div>
                        <div class="block flex-column">
                            <div class="block attr_pro">
                                @if (Model.product_price > 0)
                                {
                                    using (Html.BeginForm("ThemGioHangChiTiet", "Cart", FormMethod.Get))
                                    {
                                        <input type="hidden" name="iMaSP" value="@Model.id" />
                                        <input type="hidden" name="strURL" value="@Request.Url.ToString()" />
                                        <div class="block flex-column">
                                            <div class="flex items-center MZzIOI">
                                                <div class="c27oHv">Số lượng</div>
                                                <div class="flex items-center">
                                                    <div style="margin-right: 15px;">
                                                        <div class="custom input_number_product custom-btn-number ">
                                                            <button class="btn btn_num num_1 button button_qty" onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if(qtypro < @Model.quantity + 2){$('#btn_add_cart').prop('disabled', false);} if( !isNaN( qtypro ) &amp;&amp; qtypro > 1 )result.value--;return false;" type="button">-</button>

                                                            <input type="text" id="qtym" name="quantity" value="1" maxlength="3" class="form-control prd_quantity " onkeypress="if( isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" onkeyup="if(this.value > @Model.quantity || this.value == 0)$('#btn_add_cart').prop('disabled', true);else $('#btn_add_cart').prop('disabled', false);" onchange="if(this.value == 0)this.value=1;">

                                                            <button class="btn btn_num num_2 button button_qty" onclick="var result = document.getElementById('qtym'); var qtypro = result.value; if (!isNaN(qtypro) &amp;&amp; qtypro < @Model.quantity ) result.value++; return false;" type="button">+</button>
                                                        </div>
                                                    </div>
                                                    <div>@Model.quantity sản phẩm có sẵn</div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr />
                                        <span>Mô tả: <br/>
                                              @Model.descrip
                                        </span>
                                        <hr />

                                        <div style="margin-top: 15px;">
                                            <div class="_2LulQ0">
                                                <div class="button_actions">
                                                    <button id="btn_add_cart" type="submit" @if(Model.id_user ==  ViewBag.iduser ) {<text>disabled</text>} class="btn btn_base btn_add_cart btn-cart add_to_cart">
                                                        <span class="text_1">Thêm vào giỏ hàng</span>
                                                    </button>@*
                                                    <button type="button" class="btn btn-solid-primary btn--l vQ3lCI" aria-disabled="false">
                                                        <span>Mua ngay</span>
                                                    </button>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div style="margin-top: 15px;">
                                        <div class="_2LulQ0">
                                            <div class="button_actions">
                                                <button type="button" onclick="window.open('https://zalo.me/@Model.TaiKhoan.phone', '_blank')" class="btn btn-solid-primary btn--l vQ3lCI" style="margin-left: 0px;">
                                                    <span>Liên hệ ngay</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <div style="margin-top: 30px; border-top: 1px solid rgba(0, 0, 0, 0.05); bottom: 0">
                                    <a target="_blank" rel="noopener noreferrer nofollow" class="iN1yyt flex items-center" href="https://shopee.vn/m/shopee-dam-bao">
                                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/83e10a1f95cb083579c089448ef8dd3b.png" class="_4b8YBs">
                                        <span class="UH7zPp">KHÔNG HÀNG CẤM - MỌI GIAO DỊCH ĐỀU LÀ TỰ NGUYỆN</span>
                                        <span>KHÔNG HÀNG CẤM - MỌI GIAO DỊCH ĐỀU LÀ TỰ NGUYỆN</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-block">
            <div class="page-product_shop">
                <div class="shop_active">
                    <div class="shopee-avt_img">
                        <div style="width: 8rem; height: 8rem">
                            <div class="avt_shop_placeholder">
                            </div>
                            <a href="@Url.Action("InforShop", "Home", new { shop_id = Model.TaiKhoan.id_user })">
                                <img class="avt_shop" src="https://cdn.donmai.us/sample/dc/e2/__kamen_rider_geats_and_kamen_rider_geats_ix_kamen_rider_and_1_more_drawn_by_miyabi_037__sample-dce27a03754db30243ccc8f6c0400707.jpg" style="border-radius: 50%; object-fit: cover;">
                            </a>
                        </div>
                    </div>
                    <div class="funcs_shop">
                        <div class="name_shop"> @Model.TaiKhoan.fullname </div>
                        <div class="status_onl">
                            <span class="dot-onl"></span>
                            <span>online</span>
                        </div>
                        <div class="select_button">
                            <button onclick="window.open('https://zalo.me/@Model.TaiKhoan.phone', '_blank')",  type="button" class="btn btn-tinted">
                                <svg viewBox="0 0 16 16" class="shopee-svg-icon pa-h8D">
                                    <g fill-rule="evenodd">
                                        <path d="M15 4a1 1 0 01.993.883L16 5v9.932a.5.5 0 01-.82.385l-2.061-1.718-8.199.001a1 1 0 01-.98-.8l-.016-.117-.108-1.284 8.058.001a2 2 0 001.976-1.692l.018-.155L14.293 4H15zm-2.48-4a1 1 0 011 1l-.003.077-.646 8.4a1 1 0 01-.997.923l-8.994-.001-2.06 1.718a.5.5 0 01-.233.108l-.087.007a.5.5 0 01-.492-.41L0 11.732V1a1 1 0 011-1h11.52zM3.646 4.246a.5.5 0 000 .708c.305.304.694.526 1.146.682A4.936 4.936 0 006.4 5.9c.464 0 1.02-.062 1.608-.264.452-.156.841-.378 1.146-.682a.5.5 0 10-.708-.708c-.185.186-.445.335-.764.444a4.004 4.004 0 01-2.564 0c-.319-.11-.579-.258-.764-.444a.5.5 0 00-.708 0z">
                                        </path>
                                    </g>
                                </svg>
                                Chat ngay
                            </button>
                            <a href="@Url.Action("InforShop", "Home", new { shop_id = Model.TaiKhoan.id_user })">
                                <button type="button" class="btn btn-tinted" style="color: black;">
                                    <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" stroke-width="0" class="shopee-svg-icon _1rcInn">
                                        <path d="m13 1.9c-.2-.5-.8-1-1.4-1h-8.4c-.6.1-1.2.5-1.4 1l-1.4 4.3c0 .8.3 1.6.9 2.1v4.8c0 .6.5 1 1.1 1h10.2c.6 0 1.1-.5 1.1-1v-4.6c.6-.4.9-1.2.9-2.3zm-11.4 3.4 1-3c .1-.2.4-.4.6-.4h8.3c.3 0 .5.2.6.4l1 3zm .6 3.5h.4c.7 0 1.4-.3 1.8-.8.4.5.9.8 1.5.8.7 0 1.3-.5 1.5-.8.2.3.8.8 1.5.8.6 0 1.1-.3 1.5-.8.4.5 1.1.8 1.7.8h.4v3.9c0 .1 0 .2-.1.3s-.2.1-.3.1h-9.5c-.1 0-.2 0-.3-.1s-.1-.2-.1-.3zm8.8-1.7h-1v .1s0 .3-.2.6c-.2.1-.5.2-.9.2-.3 0-.6-.1-.8-.3-.2-.3-.2-.6-.2-.6v-.1h-1v .1s0 .3-.2.5c-.2.3-.5.4-.8.4-1 0-1-.8-1-.8h-1c0 .8-.7.8-1.3.8s-1.1-1-1.2-1.7h12.1c0 .2-.1.9-.5 1.4-.2.2-.5.3-.8.3-1.2 0-1.2-.8-1.2-.9z">
                                        </path>
                                    </svg>
                                    Xem Shop
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="section-seller-overview-horizontal__seller-info-list" style="background-color: transparent;">
                    <div class="section-seller-overview__item section-seller-overview__item--clickable">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" stroke-width="0" class="shopee-svg-icon">
                                <path d="m13 1.9c-.2-.5-.8-1-1.4-1h-8.4c-.6.1-1.2.5-1.4 1l-1.4 4.3c0 .8.3 1.6.9 2.1v4.8c0 .6.5 1 1.1 1h10.2c.6 0 1.1-.5 1.1-1v-4.6c.6-.4.9-1.2.9-2.3zm-11.4 3.4 1-3c .1-.2.4-.4.6-.4h8.3c.3 0 .5.2.6.4l1 3zm .6 3.5h.4c.7 0 1.4-.3 1.8-.8.4.5.9.8 1.5.8.7 0 1.3-.5 1.5-.8.2.3.8.8 1.5.8.6 0 1.1-.3 1.5-.8.4.5 1.1.8 1.7.8h.4v3.9c0 .1 0 .2-.1.3s-.2.1-.3.1h-9.5c-.1 0-.2 0-.3-.1s-.1-.2-.1-.3zm8.8-1.7h-1v .1s0 .3-.2.6c-.2.1-.5.2-.9.2-.3 0-.6-.1-.8-.3-.2-.3-.2-.6-.2-.6v-.1h-1v .1s0 .3-.2.5c-.2.3-.5.4-.8.4-1 0-1-.8-1-.8h-1c0 .8-.7.8-1.3.8s-1.1-1-1.2-1.7h12.1c0 .2-.1.9-.5 1.4-.2.2-.5.3-.8.3-1.2 0-1.2-.8-1.2-.9z">
                                </path>
                            </svg>
                            <div class="section-seller-overview__item-text">
                                <div class="section-seller-overview__item-text-name">Sản phẩm:&nbsp;</div>
                                <div class="section-seller-overview__item-text-value">@ViewBag.CountPro</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-seller-overview__item">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon icon-rating">
                                <polygon fill="none" points="7.5 .8 9.7 5.4 14.5 5.9 10.7 9.1 11.8 14.2 7.5 11.6 3.2 14.2 4.3 9.1 .5 5.9 5.3 5.4" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polygon>
                            </svg>
                            <div class="section-seller-overview__item-text">
                                <div class="section-seller-overview__item-text-name">Đánh giá:&nbsp;</div>
                                <div class="section-seller-overview__item-text-value">@Math.Round(ViewBag.Rating, 1) sao</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-seller-overview__item">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon">
                                <g>
                                    <circle cx="6.8" cy="4.2" fill="none" r="3.8" stroke-miterlimit="10"></circle>
                                    <polyline fill="none" points="9.2 12.5 11.2 14.5 14.2 11" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></polyline>
                                    <path d="m .8 14c0-3.3 2.7-6 6-6 2.1 0 3.9 1 5 2.6" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                                </g>
                            </svg>
                            <div class="section-seller-overview__item-text">
                                <div class="section-seller-overview__item-text-name">Tham gia:&nbsp;</div>
                                <div class="section-seller-overview__item-text-value">@String.Format("{0:dd/MM/yyyy}", DateTimeOffset.FromUnixTimeSeconds(Model.TaiKhoan.time_register).LocalDateTime)</div>
                            </div>
                        </div>
                    </div>

                    <div class="section-seller-overview__item">
                        <div class="section-seller-overview__item-icon-wrapper">
                            <svg enable-background="new 0 0 15 15" viewBox="0 0 15 15" x="0" y="0" class="shopee-svg-icon">
                                <g>
                                    <circle cx="5.5" cy="5" fill="none" r="4" stroke-miterlimit="10"></circle>
                                    <path d="m8.4 7.5c.7 0 1.1.7 1.1 1.6v4.9h-8v-4.9c0-.9.4-1.6 1.1-1.6" fill="none" stroke-linejoin="round" stroke-miterlimit="10"></path>
                                    <path d="m12.6 6.9c.7 0 .9.6.9 1.2v5.7h-2" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"></path>
                                    <path d="m9.5 1.2c1.9 0 3.5 1.6 3.5 3.5 0 1.4-.9 2.7-2.1 3.2" fill="none" stroke-linecap="round" stroke-miterlimit="10"></path>
                                </g>
                            </svg>
                            <div class="section-seller-overview__item-text">
                                <div class="section-seller-overview__item-text-name">Người theo dõi:&nbsp;</div>
                                <div class="section-seller-overview__item-text-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page_product_content">
            </div>
        </div>
        <section style="display: block;">
            <div class="stardust-tabs-header-wrapper">
                <ul class="stardust-tabs-header">
                    <li class="stardust-tabs-header_tab active">
                        <a href="#rate" data-toggle="tab">Đánh giá sản phẩm</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" style="min-height: 600px; border: 1px solid black; border-radius: 5px;">
                @*<div id="rate" class="tab-pane fade active in">
                    <div class="col-sm-24" style="padding: 10px 20px;">
                        <div class="darker">
                            <h5>Nguyễn Huy Hoàng</h5>
                            <span>20-02-2022</span>
                            <br>
                            <div class="rate" style="margin: -15px 0px 0px 0px">
                                <div class="star-widget">
                                    <input type="radio" name="rate" disabled="" id="rate-5" value="5">
                                    <label for="rate-5" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-4" value="4">
                                    <label for="rate-4" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-3" value="3">
                                    <label for="rate-3" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-2" value="2">
                                    <label for="rate-2" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-1" value="1" checked="checked">
                                    <label for="rate-1" class="fa fa-star"></label>
                                </div>
                            </div>
                            <p>Sản phẩm tốt, dễ sử dụng, bền</p>
                        </div>
                        <div class="darker">
                            <h5>Trần Chí Công</h5>
                            <span>16-09-2022</span>
                            <br>
                            <div class="rate" style="margin: -15px 0px 0px 0px">
                                <div class="star-widget">
                                    <input type="radio" name="rate" disabled="" id="rate-5" value="5" checked="checked">
                                    <label for="rate-5" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-4" value="4">
                                    <label for="rate-4" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-3" value="3">
                                    <label for="rate-3" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-2" value="2">
                                    <label for="rate-2" class="fa fa-star"></label>
                                    <input type="radio" name="rate" disabled="" id="rate-1" value="1">
                                    <label for="rate-1" class="fa fa-star"></label>
                                </div>
                            </div>
                            <p>Hay á, cho 5 * :&gt;&gt;</p>
                        </div>
                    </div>
                </div>*@
            </div>
        </section>
    </div>
</div>